/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Stick+No+Bills:wght@200..800&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
.count-up-text {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: Bold;
  font-variation-settings:
    "ROND" 60;
  font-size: 6rem;
}

.TopHeading {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: Bold;
  font-variation-settings:
    "wght" 700;
  font-size: 4rem;
}

.Subtext{
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Normal;
  font-variation-settings:
    "wght" 400;
  font-size: 1.5rem;
}